

/* Navigation bar */
nav{
    display: flex;
    color: white;
    background-color: #199de5;
    font-size: 1em;
    position: fixed;
    top: 0;
    width: 100%;
    
}
.nav-links{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav a{
    display: inline-block;
    text-decoration: none;
    color: inherit;
    padding: 18px 25px;
}
nav a:hover{
    color: black;
    background-color: white;
}
nav a span{
    margin-left: 15px;
}
nav .home{
    background-color: #076490;
}
/* Navigation bar end */

/* Media query */
/* navigation bar */



/* GLOBAL STUFF */
body{
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    background-color: rgb(241, 241, 241);
}
*{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
img{
    width: 100%;
}
hr{
    height: 1px;
    background-color:rgb(231, 231, 231);
    border: none;
}

.clearfix{
    clear: both;
}


.box{
    box-shadow: 0 0 4px rgb(176, 184, 196);
}
/* LAYOUT */
.container{
    max-width: 1300px;
    padding: 0px 15px;
    margin: auto;
    margin-top: 80px;
}

aside.left{
    width: 30%;
    float: left;
}

main {
    width: 50%;
    float: left;
}

aside.right{
    width: 20%;
    float: left;

}

.profile-block, .interests, section{
    border-radius: 4px;
}

section{
    background-color: white;
}
/* GLOBAL END */




/* LEFT ASIDE STYLES */
aside.left section{
    margin-bottom: 20px;
}
/* profile-block style */
aside.left .profile-block{
    background-color: white;
    padding: 25px;
}

aside.left .profile-block p{
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 15px;
}

aside.left .profile-photo{
    text-align: center;
    max-width: 200px; 
    min-width: 100px;
    width: 70%;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    margin-bottom: 20px;
    
}

aside.left .profile-photo img{
    width: 100%;
    display: block;
    }

aside.left .personal-info{
    font-size: 1em;
}
aside.left .personal-info i{
    color: gray;
    
}
aside.left .personal-info ul{
    margin-top: 15px;
    list-style-type: none;

}
aside.left .personal-info li + li{
    margin-top: 20px;
}

aside.left .content-block ul li a{
    text-decoration: none;
    color: black;
    font-size: 1.2em;
}

aside.left .content-block ul li i{
    color: black;
    font-size: 1em;
    margin-right:5px;
}

aside.left .content-block ul li {
    list-style-type: none;
    
}

aside.left .events a{
    text-decoration: underline !important;
}



/* section-block styles */
aside.left .box{
    font-size: 0.8em;
}
aside.left .box .title{
    background-color: #199de5;;
    color: white;
    padding: 10px 20px;
}
aside.left .box .title:hover{
    color: black;
    background-color: lightgray;
    cursor: pointer;
}
aside.left .box .content-block{
    padding: 12px 20px;
}

aside.left .fas{
    margin-right: 20px;
    color: rgb(249, 245, 245);
}

/* photos style */
aside.left .grid-photos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 17px;
}   
/* interest  style */
aside.left .interests{
    padding: 20px;
    font-size: 0.8em;
}
aside.left .interests p{
    margin-bottom: 20px;
}
aside.left .interests span{
    display: inline-block;
    padding: 2px 5px;
    color: white;
    font-size: 0.9em;
    margin-top: 3px;
}
aside.left span.prm{
    background-color: rgb(36, 87, 182);
}
aside.left span.scd{
    background-color:  #199de5;;
}
aside.left span.trd{
    background-color: rgb(156, 156, 156);
    color: black;
}
aside.left span.frs{
    background-color: lightgray;
    color: black;
}
aside.left span.fvs{
    background-color: rgb(205, 212, 212);
    color: black;
}
aside.left span.sx{
    background-color: rgb(214, 231, 236);
    color: black;
}

/* find-out-who style */
aside.left .find-out-who{
    position: relative;
    padding: 20px;
    font-size: 0.8em;
    background-color: rgb(163, 171, 177);
    border-radius: 3px;
    border: 1px solid rgb(170, 177, 182);
    overflow: hidden;
}
aside.left .find-out-who .title{
    font-weight: 900;
    margin-bottom: 10px;
}
aside.left .close-btn{
    position: absolute;
    padding: 5px 15px;
    top: 0;
    right: 0;
    background-color: rgb(159, 178, 187);
}
aside.left .close-btn:hover{
    background-color: lightgray;
    cursor: pointer;
}
/* LEFT ASIDE End */






/* MAIN STARTS*/

 main {
     font-family: Arial, Helvetica, sans-serif;
     padding: 0px 15px;
    
 }
 
 
 /* input post*/
 main input {
    width: 100%;
    display: block;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 20px;
}

 main .post {
    border: solid 1px lightgrey;
    border-radius: 4px;
    background-color: white;
    margin-bottom: 20px;
    padding: 20px 15px;
}

main .button-wrapper button{
    width:fit-content;
    padding: 10px 20px;
    background-color: #199de5;;
    color: white;
    display: inline-block;
    border:0px;
    outline: none;
    cursor:pointer;
}

main .button-wrapper button:hover{
    background-color: lightgray;
    color: black;
    
}

/* making avatar photos round and fixed size */
main .avatar {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    overflow: hidden;
}

main .avatar img{
    width: 100%;
}

main .name {
    font-size: 20px;
    width: 80px;
}

main p{
    margin: 20px 0px 15px;
    font-size: 1em;
}

/* making avatar photo and name in the left corner using float */
main .avatar-name {
    display: flex;
    align-items: center;
    column-gap: 15px;
    max-width: 200px;
    float: left;
    margin-bottom: 30px;
}
 
/* making minutes in the right corner using float */
main .min {
    float: right;
    color: gray;
}

main .clr {
    clear: both;
}

main hr {
   height: 1px;
   background-color: rgb(235, 230, 230);
   border: none;
}


/*styling photos for posts using flex */
main .post-photo-wrapper {
    display: flex;
    gap: 10px;
}

main .post-photo {
   flex: 1;
}

main .post-photo img {
    width: 100%;
    
}

/* post c*/
main a {
    color: black;
}
/*MAIN END*/






/* RIGHT SIDE START */

aside.right .block {
    background: #ffffff;
    border-radius: 4px;
    margin-bottom: 20px;
    text-align: center;
    padding: 20px;
}
aside.right .block-first p, .block-second p {
    padding-bottom: 15px;
}
aside.right .page-one {
    font-weight: bold;
    padding: 15px;
}
aside.right .btn-info {
    background: #dfe5e8;
    width: 100%;
    padding: 8px 16px;
    border: none;
    font-size: 15px;
}
aside.right .btn-info:hover {
    background: #cccccc;
    cursor: pointer;
}
aside.right .block-second img {
    width: 50%;
    margin: auto;
}
aside.right .request-btns {
    display: flex;
    width: 100%;
}

aside.right .btn-accept:hover, aside.right .btn-reject:hover {
    background: #dfe5e8;
    cursor: pointer;
}
aside.right .btn-accept {
    background: #94cf96;
    color: #ffffff;
    width: 50%;
    border: none;
    padding: 9px;
    text-decoration: none;
}
aside.right .btn-reject {
    background: #f88e86;
    color: #ffffff;
    width: 50%;
    border: none;
    padding: 9px;
    text-decoration: none;
}
aside.right .btn-accept:hover i, aside.right .btn-reject:hover i {
    color: #666666;
}
aside.right .block-third p {
    vertical-align: middle;
    padding: 10px;
}
aside.right .block-fourth i {
    padding: 25px;
    font-size: 30px;
}
/* RIGHT SIDE END */




/* Footer styless */ 
footer .content{
    padding: 25px 20px;
    font-size: 1.2em;
    color: white;
    background-color: #199de5;
}
footer .developed{
    overflow: auto;
    padding: 15px 20px;
    color: white;
    background-color: #076490;
}
footer a{
    color: inherit;
}
/* Footer end */



/* MEDIA QUERIES */
/* navigation bar */
@media screen and (max-width: 568px){
    .nav-links{
        display: none;
    }

    main, aside {
        float: none !important;
        width: 100% !important;
    }

    .container {
        padding: 0 10px;
    }
    aside.left .grid-photos {
        display: grid;
        grid-template-columns:1fr;
        gap: 17px;
    }

    aside.left .find-out-who, aside.left .interests {
        display: none;
    }
    
    main{
        margin-top: 40px;
    }

    main .post-photo-wrapper{
        flex-direction: column;
    }
    
}






