

/* Navigation bar */
nav{
    display: flex;
    color: white;
    background-color: #199de5;
    font-size: 1em;
}
.nav-links{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav a{
    display: inline-block;
    text-decoration: none;
    color: inherit;
    padding: 18px 25px;
}
nav a:hover{
    color: black;
    background-color: white;
}
nav a span{
    margin-left: 15px;
}
nav .home{
    background-color: #076490;
}
/* Navigation bar end */

/* Media query */
/* navigation bar */
@media screen and (max-width: 568px){
    .nav-links{
        display: none;
    }
}




/* GLOBAL STUFF */
body{
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    background-color: rgb(241, 241, 241);
}
*{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
img{
    width: 100%;
}
hr{
    height: 1px;
    background-color:rgb(231, 231, 231);
    border: none;
}

.clearfix{
    clear: both;
}
section {
    margin-right: 20px;
}


.container{
    margin: auto;
    margin-top: 70px;
    max-width: 1200px;
}

aside, main{
    float: left;
}
aside.left{
    width: 35%;
}

.profile-block, .interests, section{
    border-radius: 4px;
}
.profile-block, .section-block, .interests, section{
    box-shadow: 0 0 4px rgb(189, 189, 189);
}
section{
    background-color: white;
}
/* GLOBAL END */




/* LEFT ASIDE STYLES */
aside.left section{
    margin-bottom: 20px;
}
/* profile-block style */
aside.left .profile-block{
    background-color: white;
    padding: 25px;
}
aside.left .profile-photo {
    margin-bottom: 20px;
}
aside.left .profile-photo{
    text-align: center;
}
aside.left .profile-photo img{
    width: 100px;
    border-radius: 60%;}
aside.left .personal-info{
    font-size: 0.8em;
}
aside.left .personal-info i{
    color: gray;
}
aside.left .personal-info ul{
    margin-top: 15px;
    list-style-type: none;
}
aside.left .personal-info li + li{
    margin-top: 20px;
}

/* section-block styles */
aside.left .box{
    font-size: 0.8em;
}
aside.left .box .title{
    background-color: rgb(29, 133, 252);
    color: white;
    padding: 10px 20px;
}
aside.left .box .title:hover{
    color: black;
    background-color: lightgray;
    cursor: pointer;
}
aside.left .box .content-block{
    padding: 12px 20px;
}

/* photos style */
aside.left .grid-photos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 17px;
}   
/* interest  style */
aside.left .interests{
    padding: 20px;
    font-size: 0.8em;
}
aside.left .interests p{
    margin-bottom: 20px;
}
aside.left .interests span{
    display: inline-block;
    padding: 2px 5px;
    color: white;
    font-size: 0.9em;
    margin-top: 3px;
}
aside.left span.prm{
    background-color: rgb(36, 87, 182);
}
aside.left span.scd{
    background-color:  rgb(16, 132, 240);
}
aside.left span.trd{
    background-color: rgb(156, 156, 156);
    color: black;
}
aside.left span.frs{
    background-color: lightgray;
    color: black;
}
aside.left span.fvs{
    background-color: rgb(205, 212, 212);
    color: black;
}
aside.left span.sx{
    background-color: rgb(214, 231, 236);
    color: black;
}

/* find-out-who style */
aside.left .find-out-who{
    position: relative;
    padding: 20px;
    font-size: 0.8em;
    background-color: rgb(163, 171, 177);
    border-radius: 3px;
    border: 1px solid rgb(170, 177, 182);
    overflow: hidden;
}
aside.left .find-out-who .title{
    font-weight: 900;
    margin-bottom: 10px;
}
aside.left .close-btn{
    position: absolute;
    padding: 5px 15px;
    top: 0;
    right: 0;
    background-color: rgb(159, 178, 187);
}
aside.left .close-btn:hover{
    background-color: lightgray;
    cursor: pointer;
}
/* LEFT ASIDE End */






/* MAIN STARTS*/

 main {
     font-family: Arial, Helvetica, sans-serif;
 }
 
 
 /* input post*/
input {
    width: 100%;
    display: block;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 20px;
}

 .post {
    border: solid 1px lightgrey;
    width: 50%;
    margin: 20px;
    padding: 20px 15px;
    box-shadow: 1px 1px 10px lightgray;
}

.button-wrapper button{
    width:fit-content;
    padding: 10px 20px;
    background-color: rgb(53, 178, 228);
    color: white;
    display: inline-block;
    border:0px;
    outline: none;
    cursor:pointer;
}

.button-wrapper button:hover{
    background-color: lightgray;
    color: black;
    
}

/* making avatar photos round and fixed size */
.avatar {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    overflow: hidden;
}

.avatar img{
    width: 100%;
}

.name {
    font-size: 20px;
    width: 80px;
}

/* making avatar photo and name in the left corner using float */
.avatar-name {
    display: flex;
    align-items: center;
    column-gap: 15px;
    max-width: 200px;
    float: left;
    margin-bottom: 30px;
}
 
/* making minutes in the right corner using float */
.min {
    float: right;
    color: gray;
}

.clr {
    clear: both;
}

hr {
   height: 1px;
   background-color: rgb(235, 230, 230);
   border: none;
}


/*styling photos for posts using flex */
.post-photo-wrapper {
    display: flex;
    gap: 10px;
}

.post-photo {
   flex: 1;
}

.post-photo img {
    width: 100%;
    
}

/* post c*/
a {
    color: black;
}
/*MAIN END*/






/* RIGHT SIDE START */
.right {
    float: left;
    width: 20%;
}
.block {
    background: #ffffff;
    border-radius: 4px;
    margin-bottom: 20px;
    text-align: center;
    padding: 20px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}
.block-first p, .block-second p {
    padding-bottom: 15px;
}
.page-one {
    font-weight: bold;
    padding: 15px;
}
.btn-info {
    background: #dfe5e8;
    width: 100%;
    padding: 8px 16px;
    border: none;
    font-size: 15px;
}
.btn-info:hover {
    background: #cccccc;
    cursor: pointer;
}
.block-second img {
    width: 50%;
    margin: auto;
}
.request-btns {
    display: flex;
    width: 100%;
}

.btn-accept:hover, .btn-reject:hover {
    background: #dfe5e8;
    cursor: pointer;
}
.btn-accept {
    background: #94cf96;
    color: #ffffff;
    width: 50%;
    border: none;
    padding: 9px;
    text-decoration: none;
}
.btn-reject {
    background: #f88e86;
    color: #ffffff;
    width: 50%;
    border: none;
    padding: 9px;
    text-decoration: none;
}
.btn-accept:hover i, .btn-reject:hover i {
    color: #666666;
}
.block-third p {
    vertical-align: middle;
    padding: 10px;
}
.block-fourth i {
    padding: 25px;
    font-size: 30px;
}
/* RIGHT SIDE END */




/* Footer styless */ 
footer div{
    padding: 15px 20px;
    font-size: 1.2em;
    color: white;
    background-color: #199de5;
}
footer .developed{
    padding: 0 20px;
    font-size: 1em;
    overflow: auto;
    background-color: #076490;
}
footer a{
    color: inherit;
}
/* Footer end */




